<footer class="footer-distributed">

    <div class="footer-right">

        <ul class="flag">
            <li id="id1">
                <a><i class="fa fa-facebook"></i></a>
                <ul class="drop_down">
                    <li id="en"><a href="https://www.facebook.com/groups/488680191495412/" target="_blank">Group</a></li>
                    <li id="fr"><a href="https://www.facebook.com/MedTechUCL/" target="_blank">Page</a></li>
                </ul>
            </li>
        </ul>
        <a href="https://twitter.com/UCLMedTech" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/18280939/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/uclmedtech/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="mailto:uclmedtech@gmail.com"><i class="fa fa-envelope"></i></a>
        <a href="https://www.youtube.com/channel/UCqymihxWjKjlDxPNS0ZVrQg" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="footer-left">
        <p>
            <img src={{site.url}}/img/Medtech-logo-transparentnw.png>
            2017 UCL MedTech Society
        </p>
    </div>

</footer>